{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}
<!--Story start-->
<div class="row">
  <div class="col-12 col-lg-12 col-md-12 py-7">
    <div class="card overflow-scroll">
      <div class="card-body d-flex">
        <div class="col-lg-1 col-md-2 col-sm-3 col-12 text-center">
          <a href="javascript:;" class="avatar avatar-lg border-1 rounded-circle bg-gradient-primary">
            <i class="fas fa-plus text-white"></i>
          </a>
          <p class="mb-0 text-sm" style="margin-top:6px;">Add story</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary">
            <img alt="Image placeholder" class="p-1" src=  "{% static '/img/team-1.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Abbie W</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/team-2.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Boris U</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/team-3.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Kay R</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/team-4.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Tom M</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/team-5.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Nicole N</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/marie.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Marie P</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/bruce-mars.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Bruce M</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-secondary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/ivana-squares.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Sandra A</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-secondary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/kal-visuals-square.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Katty L</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-secondary">
            <img alt="Image placeholder" class="p-1" src="{% static '/img/ivana-square.jpg' %}">
          </a>
          <p class="mb-0 text-sm">Emma O</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
          <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-secondary">
            <img alt="Image placeholder" class="p-1" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-9.jpg">
          </a>
          <p class="mb-0 text-sm">Tao G</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Story-->

<!--Bancos Start-->
<div class="container-fluid py-4">
  <section class="py-3">
    <div class="row col-12 col-lg-12 col-md-12" style="justify-content: center;">
      <div class="col-lg-12 col-md-12 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="d-flex">
              <div class="avatar avatar-xl bg-gradient-dark border-radius-md p-2">
                <img src="{% static '/img/small-logos/logo-slack.svg' %}" alt="slack_logo">
              </div>
              <div class="ms-3 my-auto">
                <h6>Michele Rocha</h6>
                <div class="avatar-group">
                  <p>Online</p>
                </div>
              </div>
              <div class="ms-auto">
                <div class="dropdown">
                  <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-lg"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-sm mt-3"> Texto motivacional </p>
            <hr class="horizontal dark">
            <div class="row col-12">
              <a href="/{{user.username}}"><button type="button" class="btn btn-primary btn-lg w-100">veja o perfil {{user.username}}</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="row">
    {% csrf_token %}
    <a href="/{{user.username}}/admin"><button type="button" class="btn btn-secondary btn-lg w-100">Block level button</button></a>
</div>
{% endblock %}